<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagement</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-100">
    <partial name="Navbar"/>

    <div class="container max-w-7xl mx-auto">
        <main role="main" class="pb-3 min-h-[80vh]">
            @RenderBody()
        </main>
    </div>

    <partial name="Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
