@model Department;
@{
    ViewData["Title"] = "Update Department";
}

<div class="mt-10">
    <h1 class="text-4xl font-medium">@ViewData["Title"]</h1>

    <form class="bg-white p-5 mt-8" method="post">
        <div class="grid gap-5 mb-6 md:grid-cols-3">
            <div>
                <label asp-for="DepartmentName" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="DepartmentName" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John">
                <span asp-validation-for="DepartmentName" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Manager" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Manager" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Doe">
                <span asp-validation-for="Manager" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Members" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Members" disabled type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"> 
            </div>
        </div>
        <div class="flex justify-end items-center gap-1">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Update Department</button>
            <a asp-controller="Department" asp-action="Index" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Cancel</a>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}