@using EmployeeManagement.ViewModels
@model DepartmentEmployeeCreateViewModel

@{
    ViewData["Title"] = "Create Employee";
}

<div class="mt-10">
    <h1 class="text-4xl font-medium">Create Employees</h1>
    <form class="bg-white p-5 mt-8" asp-action="Create" asp-controller="Employee" method="post">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label asp-for="Employee.Name" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Employee.Name" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John">
                <span asp-validation-for="Employee.Name" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Employee.Surname" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Employee.Surname" type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Doe">
                <span asp-validation-for="Employee.Surname" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Employee.IDNumber" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Employee.IDNumber" type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="7854125236988">
                <span asp-validation-for="Employee.IDNumber" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Employee.JobTitle" class="block mb-2 text-sm font-medium text-gray-90"></label>
                <input asp-for="Employee.JobTitle" type="text" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Senior Software Engineer">
                <span asp-validation-for="Employee.JobTitle" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Employee.DepartmentId" class="block mb-2 text-sm font-medium text-gray-900"></label>
                
                <select asp-for="Employee.DepartmentId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option value="">Select Department</option>
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department.ID">@department.DepartmentName</option>
                    }
                </select>
                
                <span asp-validation-for="Employee.DepartmentId" class="text-sm text-red-700"></span>
            </div>
            
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
        

    
    </form>


</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

    

