@model Employee;
@{
    ViewData["Title"] = "Update Employee";
}

<div class="mt-10">
    <h1 class="text-4xl font-medium">Update Employee</h1>


    <form class="bg-white p-5 mt-8" method="post">
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Name" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="John">
                <span asp-validation-for="Name" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Surname" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Surname"  type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Doe">
                <span asp-validation-for="Surname" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="IDNumber" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="IDNumber" type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            </div>
            <div>
                <label asp-for="JobTitle" class="block mb-2 text-sm font-medium text-gray-90"></label>
                <input asp-for="JobTitle" type="text" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Senior Software Engineer">
                <span asp-validation-for="JobTitle" class="text-sm text-red-700"></span>
            </div>
            <div>
                <label asp-for="Department" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <select asp-for="Department" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-5">
                    <option value="0" selected>Choose a department</option>
                    <option value="Sales">Sales</option>
                    <option value="IT Department">IT Department</option>
                    <option value="Finance">Finance</option>
                    <option value="Compliance">Compliance</option>
                </select>
                <span asp-validation-for="Department" class="text-sm text-red-700"></span>
            </div>
        </div>
        <div class="flex justify-end items-center gap-1">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Update Employee</button>
            <a asp-controller="Employee" asp-action="Index" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">Cancel</a>
        </div>
        
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}